In [1]:
print("Hello World!")

Hello World!

In [2]:
# comment

In [3]:
## also coment
'''
    block
'''

'\n    block\n'

In [6]:
print("Hello World", 123)
print(123, "Somewhere St", "Nova Scotia", 456)

Hello World 123
123 Somewhere St Nova Scotia 456

In [7]:
print("Hello \nWorld")

Hello
World

In [18]:
print("Sale Price:", 12345)
print("Sale Price:", end="")
print(12345)

Sale Price: 12345
Sale Price:12345

In [2]:
print("Sale Price:", end="")
print(11111)
print(22222)

Sale Price:11111
22222

In [16]:
print("Sale Price:")
print(11111)

Sale Price:
11111

In [26]:
user_input = input("Enter a number:")
print(user_input)
print(type(user_input))

Enter a number: 123

123
<class 'str'>

In [28]:
# Create a script that creates three variables to hold the current day, month and year.
# Display the current date using those varibles nicely formatted.
day = 19
month = "September"
year = "2025"
print(month, day, year)
print(f"{month} {day}, {year}")

September 19 2025
September 19, 2025

In [30]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")
print(f"{first_name}.{last_name}@nscc.ca")

Enter you first name: wei
Enter you last name: tan

wei.tan@nscc.ca

In [5]:
# concatenation of strings
"concatenate" + "strings"

text = "Hello " + "World"
text += "!"
print(text)

Hello World!

In [10]:
# conbine strings and numbers
# address = str(5685) + " Leeds St"
address = f"{5685} Leeds St"
print(address)

5685 Leeds St

In [11]:
# combine strings and decimals
price_amount = 123.45
price = "Price: " + str(price_amount)
print(price)

Price: 123.45

In [15]:
# combine strings and calculations
#answer = "Sum = " + str(1 + 2)
answer = f"Sum = {1 + 2}"
print(answer)

Sum = 3

In [23]:
# formatted strings
"{} {}".format("Hello", "World")
"{}, {}".format("Hello", "World")
"{0}, {1}".format("Hello", "World")
"{1}, {0}".format("Hello", "World")
"{} + {} = {}".format(1, 2, 1+2)
"{0} {0} {1} {0} {1} {1}".format("Hello", "World")

'Hello Hello World Hello World World'

In [26]:
# substrings
"cat dog mouse"[4:7] # range where [start:end+1]
text = "Mary had a little lamb"
text[18:22]

'lamb'

In [28]:
# replication operator
"-" * 3

'---'

In [35]:
# more on data types
# string: anything surrounded by double quotes
type("Hello World")

# integer
type(0)

# float
# - all decimal numbers can't be represented(e.g. pi)
# - more represents an approximation than an actual number
type(123.45)

# boolean
type(False)
type(True)

bool

In [50]:
# change data types
int("123") # 123
int(1.23) # 1 

str("123.456") # '123.456'
str(123.456) # '123.456'
str(False) # 'False'

float("123.456") # 123.456
float(123) # 123.0

bool("Hello") # True
bool("") # False
bool(0) # False
bool(0.0) # False

False

In [52]:
# getting input from the user of a particular data type
user_input = input("Enter a number:")
type(user_input) # str

user_number = int(input("Enter a number:"))
type(user_number) # int

Enter a number: 123
Enter a number: 456

int

In [66]:
# math......
10 / 4  # decimal division
11 // 4 # 取整(2.75 不四舍五入) integer division
#10 % 2 # 取余 modulus division (remainder of a long division)
#5 ** 3 # exponents

2

In [63]:
# BEDMAS
(1+2) * 3
(1+2) * (3-5)

-6

In [79]:
# assignment operators
a = 1 + 2
a += 3
a -=1
a *= 2
a //= 3
a %= 2
a **= 3
print(a)

In [93]:
# math library
import math
math.pi
math.sqrt(25)
math.floor(1.5) # 1，向下取整
math.ceil(1.1) # 2，向上取整
round(1.536, 2) # 1.54，保留2位小数，四舍五入

1.54